@use '../../styles/_util' as *


// --------------------------------------------------------------
// ---------------------------- THEME ---------------------------
// --------------------------------------------------------------

.safeBox.dark
  &:hover
    background-color: $gray-700
  &::before
    background-color: $gray-700
  .text
    color: $white
    p
      color: $gray-250
      &:last-child
        color: $gray-500

.safeBox.light
  &:hover
    background-color: $gray-250
  &::before
    background-color: $gray-250
  .text
    color: $black
    p
      color: $gray-700
      &:last-child
        color: $gray-500


// --------------------------------------------------------------
// --------------------------- SETTINGS -------------------------
// --------------------------------------------------------------

.safeBox
  @include flex(center, center, row)
  width: 100%
  gap: 1rem
  padding: .8rem
  transition: background-color 0.2s ease, color 0.2s ease
  height: 120px
  position: relative
  margin-top: -1px
  border-radius: $default-radius
  cursor: pointer


  &::before
    content: ''
    position: absolute
    right: 10px
    width: 80%
    height: 1px
    bottom: 0px
    z-index: 2002

  .text
    @include flex(flex-start, center, column)
    width: 100%

    h3
      font-size: .97rem
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      width: 100%
      font-weight: 400
      font-size: 1.05rem

    p
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      width: 100%
      font-size: .9rem
      &:last-child
        font-weight: 500
        margin-top: .5rem
