@use '../../styles/_util' as *

.safeBoxGroupContainer
  padding: 1rem
  max-width: 1000px
  width: 100%

  main
    margin-top: 3rem

    .safeBox
      position: relative

      .button
        max-width: 35px
        right: 1rem
        bottom: 20px
        position: absolute
