@use '../../styles/_util' as *

.safeBoxGroupContainer.dark
  main
    @include scroolbarDark()

    .button
      color: $white
      background-color: $gray-700
      &:hover
        background-color: $gray-500
.safeBoxGroupContainer.light
  main
    @include scroolbarLight()

    .button
      color: $black
      background-color: $gray-100
      &:hover
        background-color: $gray-400

.safeBoxGroupContainer
  padding: 1rem
  max-width: 1000px
  width: 100%

  main
    margin-top: 3rem
    overflow: auto
    max-height: calc( 100vh - 200px )

    .safeBox
      position: relative

      .button
        right: 1rem
        bottom: 20px
        position: absolute

        height: 28px

        padding: .2rem
        border-radius: $default-radius
        cursor: pointer

        transition: background-color 0.2s ease

        svg
          width: 20px
          height: 20px
