@use '../../../styles/_util' as *



.red
  background-color: $red-100 !important

  &:hover
    background-color: $red-100-hover !important

.green
  background-color: $green-100 !important

  &:hover
    background-color: $green-100-hover !important

.button.dark
  svg
    color: $white
  button
    background-color: $gray-700
    &:hover
      background-color: $gray-600
.button.light
  svg
    color: $black
  button
    background-color: $gray-300
    &:hover
      background-color: $gray-500


.button
  @include flex(center, center, row)
  width: 100%

  position: relative

  button
    @include flex(center, center, row)
    width: 100%
    height: 35px
    gap: 8px
    

    color: $white
    border-radius: $default-radius

    transition: background-color 0.3s ease

    &:disabled
      background-color: $gray-700 !important
      color: $gray-500 !important

      svg
        color: $gray-500 !important
      &:hover
        background-color: $gray-700 !important

    svg
      color: $white
      font-size: 1rem

    &:hover
      background-color: $blue-100-hover

  .loading
    @include flex(center, center, row)
    height: 35px
    position: relative
    width: 100%

    div
      position: absolute
      z-index: 2000
      max-width: 100px !important
