@use '../../../styles/_util' as *

.register
  @include flex(center, center, column)
  height: 100vh
  width: 100%

  img
    position: absolute
    top: 50px
    max-width: 200px

    @media (min-width: 1400px)
      top: 100px

    @media (max-height: 657px)
      top: 20px !important

  .registerContainer
    @include flex(center, center, column)
    width: 100%
    height: 100%
    form
      @include flex(center, center, column)
      gap: 2rem
      margin-top: 8rem
      opacity: 0
      transition: opacity 0.5s ease
      z-index: 2001

      div
        width: 100%


    .buttonStart
      @include flex(center, center, column)
      position: absolute
      width: 100%
      z-index: 2002

      button
        transition: all 0.3s ease
        position: relative
        opacity: 1

  .registerContainer.stepTwo
    form
      visibility: visible
      opacity: 1

    .buttonStart
      button
        display: none
        pointer-events: none
        opacity: 0

