@use '../../../styles/_util' as *

.login
  @include flex(center, center, column)
  height: 100vh
  width: 100%

  img
    position: absolute
    top: 100px
    max-width: 200px

    @media (min-width: 1800px)
      max-width: 300px

  .loginContainer
    @include flex(center, center, column)
    width: 100%
    height: 100%

    form
      @include flex(center, center, column)
      gap: 2rem
      margin-top: 8rem
      visibility: hidden
      opacity: 0
      transition: opacity 0.5s ease

      div
        width: 100%

    .buttonStart
      @include flex(center, center, column)
      position: absolute
      width: 100%
      button
        position: relative

  .loginContainer.stepTwo
    form
      visibility: visible
      opacity: 1

    .buttonStart
      button
        display: none
        pointer-events: none

