@use '../../../../styles/_util' as *

.mainSafeBox.dark
.mainSafeBox.light

.mainSafeBox
  @include flex(center, center, column)
  width: 100%

  .form
    visibility: hidden
    height: 0
    width: 0
    opacity: 0

  .formOpen
    visibility: visible
    width: 100%
    opacity: 1

  .usersOpen
    visibility: visible
    width: 100%
    opacity: 1



