@use '../../styles/_util' as *

// --------------------------------------------------------------
// ---------------------------- THEME ---------------------------
// --------------------------------------------------------------

.userSettings.light
  .box.noHover
    background-color: $gray-100 !important
  .box
    background-color: $gray-100
    
    &:hover
      background-color: $gray-400
      cursor: pointer

    div
      .checkBox
        background-color: $white

.userSettings.dark
  color: $white

  .box.noHover
    background-color: $gray-800 !important
  .box
    background-color: $gray-800
    &:hover
      background-color: $gray-600
      cursor: pointer

    div
      .checkBox
        background-color: $white

// --------------------------------------------------------------
// -------------------------- Settings --------------------------
// --------------------------------------------------------------

.userSettings
  @include flex(center, center, row)
  width: 100%

  .container
    @include flex(flex-start, center, column)
    gap: 1rem
    width: 100%
    max-width: 800px


    h3
      margin-top: 2rem
      font-family: 'Anek Devanagari', sans-serif
      font-weight: 500

    .box.dropdown
      span
        flex: 2
      >div
        flex: 1
    .box
      @include flex(center, space-between, row)
      width: 100%
      padding: 1rem
      border-radius: $default-radius

      transition: background-color 0.2s ease
      cursor: pointer

      >div
        @include flex(center, center, row)
        gap: 1rem

        svg
          font-size: 1.2rem
      // select
      //   background: transparent
      //   border: 1px solid $gray-700
      //   outline: 0
      //   color: $white
      //   min-width: 100px
      //   padding: .5rem


      .checkBox
        width: 15px
        height: 15px
        border-radius: 5rem

      .checkBox.checked
        background-color: $blue-100 


