@use '../../../styles/_util' as *

.currentSafeBox
  @include flex(center, flex-start, column)
  width: 100%
  padding: 1rem 1rem
  max-width: 1000px
  height: 100%
  gap: 2rem


  main
    @include flex(flex-start, center, row)
    width: 100%
    height: calc( 100vh - 240px )
    overflow: auto
    padding: 1rem 2rem

    &::-webkit-scrollbar-track
      background-color: $gray-800
    &::-webkit-scrollbar-thumb
      background-color: $gray-600
    &::-webkit-scrollbar
      width: .4em

    &::-webkit-scrollbar-track
      border-radius: 5rem

    &::-webkit-scrollbar-thumb
      border-radius: 5rem


