@use '../../styles/_util' as *

// --------------------------------------------------------------
// ---------------------------- THEME ---------------------------
// --------------------------------------------------------------

.navbar.dark
  background-color: $gray-900
  color: $white

  .icons
    svg
      background-color: $gray-800
      color: $white
      &:hover
         background-color: $gray-600

.navbar.light
  background-color: $white

  .icons
    svg
      background-color: $gray-100
      color: $black
      &:hover
        background-color: $gray-400


// --------------------------------------------------------------
// --------------------------- SETTINGS -------------------------
// --------------------------------------------------------------

.navbar
  @include flex(center, space-between, row)
  height: 50px
  width: 101%
  margin-left: -5px
  background-color: blue
  z-index: 2000
  border-bottom: 1px solid $blue-100

  .title
    @include flex(center, space-between, row)
    gap: 1rem
    margin-left: 2rem
    img
      max-width: 30px

  .icons
    @include flex(center, center, row)
    gap: 1rem
    margin-right: 2rem

    svg
      background-color: red
      border-radius: $default-radius
      padding: .5rem
      width: 36px
      height: 36px
      transition: background-color 0.2s ease

    .iconsUser
      @include flex(center, center, row)
      gap: 1rem

      button
        svg
          padding: .6rem
        &:first-child
          margin-left: 1rem
          position: relative
          &::before
            content: ''
            position: absolute
            height: 25px
            width: 1px
            border-radius: 5rem
            top: 5px
            background-color: $gray-600
            left: -1rem
            cursor: default
