@use '../../styles/_util' as *

// --------------------------------------------------------------
// ---------------------------- THEME ---------------------------
// --------------------------------------------------------------

.navbar.dark
  background-color: $gray-900
  color: $white

  .icons
    button
      background-color: $gray-700
      &.selected
        background-color: $blue-100
        svg
          color: $white
      &:hover
         background-color: $gray-600
      svg
        color: $white

.navbar.light
  background-color: $white

  .icons
    button
      background-color: $gray-100
      &.selected
        background-color: $blue-100
        svg
          color: $white
      &:hover
        background-color: $gray-400
      svg
        color: $black


// --------------------------------------------------------------
// --------------------------- SETTINGS -------------------------
// --------------------------------------------------------------

.navbar
  @include flex(center, space-between, row)
  height: 50px
  min-height: 50px
  width: 101%
  margin-left: -5px
  background-color: blue
  z-index: 2000
  border-bottom: 1px solid $blue-100

  .title
    @include flex(center, space-between, row)
    gap: 1rem
    margin-left: 2rem
    img
      max-width: 30px

  .workspaceSettings
    position: relative
    &::before
      content: ''
      position: absolute
      height: 25px
      width: 1px
      border-radius: 5rem
      top: 5px
      background-color: $gray-600
      right: -1rem
      cursor: default
  .icons
    @include flex(center, center, row)
    gap: 1rem
    margin-right: 2rem


    button
      @include flex(center, center, row)
      border-radius: $default-radius
      width: 36px
      height: 36px
      transition: background-color 0.2s ease

      svg
        font-size: 1.2rem

    .iconsUser
      @include flex(center, center, row)
      gap: .5rem

      button
        svg
          font-size: 1.1rem
        &:first-child
          margin-left: 1rem
