@use '../../styles/_util' as *

.container
  @include flex(center, center, column)
  height: 100vh
  width: 100%

  .background
    @include flex(center, center, column)
    position: absolute
    background-color: $blue-100
    height: 140vw
    width: 140vw
    border-radius: 9999999rem
    transform: translateY(-20%)
    right: 50%
    z-index: 1000
    transition: right 2s ease-in-out

  .form
    @include flex(center, center, row)
    width: 50vw

    .register
      @include flex(center, center, row)
      position: relative
      height: 100vh
      width: 100%
      left: -150%
      transition: left 2s ease
      z-index: 200

    .login
      @include flex(center, center, row)
      position: relative
      width: 100%
      transition: left 2s ease
      z-index: 200
      left: 20%

  .text

    .registerText, .loginText
      @include flex(center, center, column)
      position: absolute
      top: 30px
      width: 45%
      color: $white
      z-index: 2000
      gap: 2rem
      transition: opacity 1.5s ease, right 1.5s ease, left 1.5s ease, visibility 1.2s ease

      span
        width: 100%
        text-align: center

      h1
        font-size: 1.2rem
        font-weight: 600

      p
        max-width: 600px

      button
        max-width: 200px
        margin-top: -1rem

    .registerText
      right: -350px
      opacity: 0

      img
        position: relative
        max-width: 500px
        transition: left 2s ease-in-out, right 2s ease-in-out,  opacity 1.5s ease
        bottom: -6rem

        @media (max-height: 1200px)
          max-width: 400px
          bottom: -4rem
        @media (max-height: 800px)
          max-width: 300px
          bottom: -2rem
        @media (max-height: 630px)
          max-width: 280px
          bottom: 3rem

    .loginText
      left: 20px
      opacity: 1

      img
        position: relative
        max-width: 500px
        transition: left 2s ease-in-out, right 2s ease-in-out,  opacity 1.5s ease
        bottom: -6rem
        @media (max-height: 1200px)
          max-width: 500px
          bottom: -4rem
        @media (max-height: 800px)
          max-width: 400px
          bottom: -2rem
        @media (max-height: 630px)
          max-width: 300px
          bottom: 1rem

.button
  position: absolute
  z-index: 2000
  top: 0

.signUpMode
  .background
    right: -85%

  .form
    .register
      left: -20%

    .login
      left: 150%

  .text
    .registerText
      opacity: 1
      right: 0

    .loginText
      opacity: 0
      left: -300px
      visibility: hidden


