@use '../../../styles/_util' as *


.reactModalContent.dark
  background-color: $gray-900
  color: $white

.reactModalContent.light
  background-color: $white

.reactModalOverlay
  @include flex(center, center ,column)
  z-index: 4000
  background: #00000087
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  display: flex
  align-items:  center
  justify-content: center

.reactModalContent
  @include flex(center, center ,column)
  width: 100%
  height: 100%
  max-height: 250px
  max-width: 500px
  padding: 3rem
  position: relative
  border-radius: .5rem
  gap: 1rem

  h3
    font-weight: 600
    text-align: center
    font-size: 1.1rem

    &:nth-child(2)
      margin-top: -1.5rem
      text-transform: none


  .buttons
    @include flex(center, center ,column)
    width: 100%
    gap: 1rem
    margin-top: 2rem
    max-width: 300px




