@use '../../../../../styles/_util' as *


.tableMembers.dark
  .title
    &::before
      background-color: $gray-700
  .info
    color: $white

    .img
      background-color: $gray-700
  button
    background-color: $gray-700
    color: $white
.tableMembers.light
  .title
    &::before
      background-color: $gray-400

  .info
    color: $black
    
    .img
      background-color: $gray-300 

  button
    background-color: $gray-300
    color: $black


.tableMembers
  @include flex(center, center, column)
  width: 100%
  height: 100%

  .title
    width: 100%
    position: relative
    margin: 1rem 0

    h4
      color: $gray-500
      font-weight: 400
      font-size: .9rem

    &::before
      content: ''
      position: absolute
      width: 100%
      height: 1px
      bottom: 0

  .membersSection
    @include flex(flex-start, flex-start, column)
    @include scroolbarLight()
    height: 100%
    width: 100%

    flex: 1
    overflow: auto
    
    gap: 1rem 


    .participant
      @include flex(center, space-between, row)
      width: 100%
      padding: 0 1rem
      
      .info
        @include flex(center, center, row)
        gap: 1rem

        .img
          @include flex(center, center, row)
          width: 45px
          height: 45px
          border-radius: 5rem
          font-size: 1rem

      button
        @include flex(center, center, row)
        width: 40px
        height: 40px
        border-radius: $default-radius
        font-size: 1.1rem

        transition: background-color 0.2s ease, color 0.2s ease

        svg
          font-size: .9rem
        &:hover
          background-color: $red-100
          color: $white