@use '../../styles/_util' as *


// --------------------------------------------------------------
// ---------------------------- THEME ---------------------------
// --------------------------------------------------------------

.newSidebar.dark
  background-color: $gray-750

.newSidebar.light
  bakground-color: $white
  

// --------------------------------------------------------------
// --------------------------- SETTINGS -------------------------
// --------------------------------------------------------------

.openButton
  @include flex(center, center, row)
  font-size: 1rem
  z-index: 3000
  color: $white
  position: absolute
  border-radius: 100px
  top: 8px
  left: 18px
  height: 35px
  width: 35px

  transition: left 0.4s ease
  &:hover
    background-color: $gray-700

.openButton.open
  left: 270px

.burguer
  opacity: 1
  position: absolute
  transition: opacity 0.2s ease, visibility 0.2s ease
  
  svg
    font-size: 1.2rem
.arrowRight
  opacity: 0
  visibility: hidden
  position: absolute
  margin: 0 auto
  transition: opacity 0.2s ease, visibility 0.2s ease

.openButton
  &:hover > .arrowRight
    opacity: 1
    visibility: visible

  &:hover > .burguer
    opacity: 0
    visibility: hidden



.newSidebar
  width: 0
  height: 100vh
  z-index: 1000
  opacity: 0

  max-width: 250px
  transition: width 1s ease, opacity 0.6s ease

  .newSidebarContainer
    height: 100%
    width: 100%

    color: $white
    
    border-right: 1px solid $gray-700

.newSidebar.open
  width: 100%
  opacity: 1


    