@use '../../styles/_util' as *


// --------------------------------------------------------------
// ---------------------------- THEME ---------------------------
// --------------------------------------------------------------

.dark
  color: $white
  background-color: $gray-750

.light
  color: $black
  bakground-color: $white
  

// --------------------------------------------------------------
// --------------------------- SETTINGS -------------------------
// --------------------------------------------------------------

.openButton
  @include flex(center, center, row)
  font-size: 1rem
  z-index: 1001
  color: $white
  position: absolute
  border-radius: 100px
  top: 8px
  left: -53px
  height: 35px
  width: 35px

  transition: left 0.4s ease
  &:hover
    background-color: $gray-700

.openButton.open
  left: 200px

.burguer
  opacity: 1
  position: absolute
  transition: opacity 0.2s ease, visibility 0.2s ease
  
  svg
    font-size: 1.2rem

.arrowRight
  opacity: 0
  visibility: hidden
  position: absolute
  margin: 0 auto
  transition: opacity 0.2s ease, visibility 0.2s ease

.openButton
  &:hover > .arrowRight
    opacity: 1
    visibility: visible

  &:hover > .burguer
    opacity: 0
    visibility: hidden


.sidebarHeader
  width: 0
  position: relative
  
  .organization
    @include flex(center, center, row)
    font-size: 1rem
    left: 15px
    top: 15px
    gap: .5rem
    z-index: 5000 !important
    position: absolute

    img
      max-width: 25px
      max-height: 25px
      border-radius: 100px

    h5
      font-size: .9rem
      max-width: 140px
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden

.newSidebar
  width: 0
  height: 100vh
  z-index: 1000
  opacity: 0

  max-width: 250px
  transition: width 1s ease, opacity 0.6s ease

  .newSidebarContainer
    height: 100%
    width: 100%

    color: $white
    
    border-right: 1px solid $gray-700

.newSidebar.open
  width: 100%
  opacity: 1


    