@use '../../../styles/_util' as *

.stepFour.dark
  .emails_container
    @include scroolbarDark()
.stepFour.light
  .emails_container
    @include scroolbarLight()
  

.stepFour
  @include flex(center ,center, column)
  width: 100%

  h3
    font-size: 1.1rem
    font-weight: 600
    
  .list
    width: 100%
    @include flex(center,center, column)
    margin-bottom: 2rem
    margin-top: 1rem
    border: 1px solid $gray-300
    padding: 1rem 0
    border-radius: $default-radius
    
    h4
      margin-bottom: 1rem
      margin-left: 1rem
      font-weight: 600

    >div
      width: 100%
      @include flex(flex-start ,space-around, row)

    .emails_container
      max-height: 160px
      height: 100%
      overflow: auto

      @media (max-height:800px)
        max-height: 80px
        height: 80px

      .emails_list
        @include flex(center, flex-start, column)
        gap: .5rem
        margin-top: .5rem
        text-align: center
        width: 100%


  button
    max-width: 350px






